@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 690px;
    min-height: 30%;
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    scrollbar-width: 5px;
    scrollbar-color: #4e4e4e;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 25px;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }
}

@keyframes activityHover {
    0% {
        transform: scale(100%);
        filter: grayscale(100%);
    }

    100% {
        transform: scale(110%);
        filter: grayscale(0%);
    }
}

@keyframes reverseActivityHover {
    0% {
        transform: scale(110%);
        filter: grayscale(0%);
    }

    100% {
        transform: scale(100%);
        filter: grayscale(100%);
    }
}

a:hover {
    color: #cc0000;
}

#tsuru {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
    display: block;
    width: 20%;
    margin: auto;
}

#greet_title {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 1rem;
}

#greet_text {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
    display: block;
    width: 30%;
    margin: auto;
}

#greet {
    text-align: center;
}

#atividades {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
}

header {
    height: 25vh;
    align-items: center;
    display: flex;
}

h3 {
    font-weight: bolder;
}

.chevron {
    margin: 2rem;
    font-size: 3rem;
    color: white;
    background: none;
    display: block;
    margin: auto;
    border: none;
}

.title {
    font-size: 3rem;
    font-style: italic;
    font-weight: 900;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    margin: auto;
}

#title:hover {
    color: #ffffff;
}

#self {
    max-width: 80%;
    margin: auto;
    display: block;
}

#texto_apresentacao {
    margin-top: 2rem;
    font-weight: lighter;
}

#offcanvasRightLabel {
    font-weight: bold;
}

#offcanvasLeftLabel {
    font-weight: bold;
}

.cartao_atividade {
    animation-name: reverseActivityHover;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
    filter: grayscale(100%);
}

.cartao_atividade:hover {
    cursor: pointer;
    animation-name: activityHover;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.card {
    margin-left: 1rem; 
    margin-right: 1rem; 
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navbar {
    background-color: black;
}

.embedContainer {
    width: 80vw;
    border: 2px solid white;
    border-radius: 7px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.embedSA {
    height: 40vw; 
    width: 100%;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.embedText {
    margin: 1rem;
    margin-top: 0.4rem;
}

ul {
    list-style: none;
    display: block;
}

li {
    padding: 0.4rem;
    display: block;
}

li:hover {
    cursor: pointer;
    color: #cc0000;
}

a {
    text-decoration: none;
    color: white;
    display: block;
}

button {
    border: none;
}